{{ define "main" }}
<article class="markdown">
  <h1>
    <a href="{{ .RelPermalink }}">{{ partial "docs/title.html" . }}</a>
  </h1>
  {{ if .Description }}
  <p class="subtitle">{{ .Description }}</p>
  {{ end }}
  {{ partial "docs/post-meta" . }}
  {{- .Content -}}

  {{ range $taxonomy, $i := .Site.Taxonomies }}
  {{ with $terms := $.GetTerms $taxonomy }}
  <div class="taxonomy-container">
    {{ range $n, $term := $terms }}
    {{ if $n }}&nbsp;&nbsp;{{ end }}
    <span class="{{$taxonomy}}">
      <a href="{{ $term.RelPermalink }}">{{ $term.Title }}</a>
    </span>
    {{- end }}
  </div>
  {{ end }}

  {{ end }}

  {{ partial "docs/post-nav" .}}

</article>
{{ end }}

{{ define "toc" }}
{{ partial "docs/toc" . }}
{{ end }}