/* You can add custom styles here. */
$padding-12: 0.75rem !default;
// @import "plugins/numbered";

.center {
   display: block;
   text-align: center;
}

a {
   text-decoration: none;

   &:hover {
     text-decoration: underline;
   }
   &:visited {
     color: var(--color-link);
   }
 }

#footer {
    position: fixed;
    bottom: 20px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    height: 10px;   /* Height of the footer */
 }

 #home-title {
    margin: $padding-12;
 }

 .post-list-item-container {
    background-color: var(--gray-100);
    padding: $padding-12;
    margin: $padding-12;
    border-radius: $border-radius;
 }

 .book-post {
    margin-bottom: $padding-16;
 }

 .summary {
    font-style: italic;
 }

 .subtitle {
    font-style: italic;
    font-weight: normal;
 }

//  .tags {
//     background-color: var(--gray-200);
//     border-radius: $border-radius;
//     padding: 3px;
//  }

//  .taxonomy-container {
//     margin-top: 10px;
//  }

//  .categories {
//     background-color: var(--gray-100);
//     border-radius: 5px;
//     padding: 3px;
//  }

.taxonomy-sep {
   color: var(--color-link);
}

 .tags {
   font-size: 90%;
 }

 .paginav {
    margin: 10px 0;
    display: flex;
    line-height: 30px;
}

.paginav .title {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: small;
}

.paginav .prev,
.paginav .next {
    width: 50%;
}

.paginav .next {
    margin-inline-start: auto;
    text-align: right;
}

[dir="rtl"] .paginav .next {
    text-align: left;
}

figcaption {
   font-style: italic;
   font-size: small;
}

.book-card-container {
   display: flex;
   flex-direction: row;
   background-color: var(--gray-100);
   padding: $padding-12;
   margin-bottom: $padding-12;
   border-radius: $border-radius;
}

.book-card-img {
   display: flex;
   flex-shrink: 0;
   margin-right: $padding-12;
}

.book-card-img img {
   display: block;
   max-height: 150px;
}

.book-card-text {
   display: flex;
   flex-direction: column;
   text-align: left;
}

.book-card-text div  {
   display: block;
}

